{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1 class="display-4 text-center">PROFIL UTILISATEUR</h1>

    <h2 class="alert alert-secondary text-center">Mail : {{ app.user.email }} </h2>


{% endblock %}
