<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Symfony 4</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ path('home') }}">Acceuil</a>
            <a class="nav-item nav-link" href="/calcul2/15">Calcul</a>
            <a class="nav-item nav-link" href="{{ path('artist') }}">Artist</a>
            <a class="nav-item nav-link" href="{{ path('record') }}">Record</a>
            </div>
        </div>
        </nav>
